mat-form-field {
  color: #002a5c;

  input {
    color: #000000;
    border: none;
    border-radius: 100px;
    background-color: white;
    padding: 5px 10px;

    &:focus {
      outline: none;
    }
  }

  mat-placeholder {
    margin-left: 10px
  }
}
