<md-card>
  <markdown>
    # Join Us

    You have come to the right place!

    You don't need to know any technology to work on this project!
    This is the beauty of the web and proper modularization.

    Learn more, build together, discover the potential in you.

    <a href="https://github.com/harmonyharmo/toronto.university">
      <button md-raised-button="" md-button="" color="accent">
        Code
      </button>
    </a>

    ## Project Highlights

    ### Practical

    - A working web application with recognizable address is perfect for resume
    - Ability to show anyone your work regardless of operating system
    - Solve real problems for ourselves and others

    ### Agile

    - Light weight and modular framework makes it easy to keep technology up to date
    - Do more with less code (only 40 lines for now)
    - Iteratively deploy simple and beautiful features

    ### Flexible

    - Feature list is easy to change thanks to superb modularity
    - No mega features, no blocker
    - Flexible with your ability or commitment
  </markdown>
</md-card>
<md-card>
  <markdown>
    ## Roles

    ### Content Group

    - research user needs
    - edit web content
    - discover relevant school resources
    - communicate with other groups or organizations

    Good to Know: HTML5, Markdown, Angular, communication skills

    ### Design Group

    - QA existing design and fix them
    - design UI/UX for new features
    - graphics design

    Good to know: CSS3, Material Design, Adobe, Angular, UI/UX, topography

    ### Logic Group

    - implement application logic
    - configure backend when needed
    - improve accuracy and efficiency through changes in architecture

    Good to know: Javascript, Angular, Node.js, MongoDB, Firebase, Google Cloud
  </markdown>
</md-card>
<md-card>
  <markdown>

    ## Concept

    ### Domain as Brand

    Instead of domains regulated by bureaucrats such as .ca or .edu, toronto.university can stay free and true to its
    name.

    ### Web as App

    Instead of applications in walled gardens such as the App Store or the Google Play Store, we utilize the latest
    technologies to build a web app free of installation. This saves data, processing power, and battery life. From IE
    10 to iPhone X, all you need is Internet!

    ### Design as Feature

    Instead of reworking UI at the cost of speed and functionality, we focus on designs that make common actions more
    intuitive and elegant.
  </markdown>

</md-card>
<md-card>
  <markdown>

    ## Action time

    Excited? We do have one question for you:

    **What are the design problems of Bahen Center?**

    Send your answer with personal info to
    <address>
      <md-icon>contact_mail</md-icon>
      <a href="mailto:me@toronto.university">me@toronto.university</a>
    </address>
    or reach us with other means.

    We look forward to your answers :)

  </markdown>
</md-card>

