<mat-card>
  <markdown ngPreserveWhitespaces>
    # Join Us

    You have come to the right place!

    You do not need to know any programming to take part in this open source project! BTW, coding for it is simple.
    Take a look at our code:
    <a href="https://github.com/harmonyharmo/toronto.university">
      <button mat-raised-button="" mat-button="" color="accent">
        Code
      </button>
    </a>

    You can always contribute by reporting a bug or suggesting a color :)

    Learn more, build together, discover your potential.


    ***
    ## Project Highlights

    ### Joy of Creation

    - easy to create with powerful frameworks
    - No mega features, no blocker
    - Flexible commitment

    ### Professional Development

    - Get familiar with the latest technology trends
    - A working web application with recognizable URL is perfect for resume
    - Ability to show anyone your work regardless of operating system

    ### Solving Real Problems
    - Solve troubling issues for ourselves and others
    - Feature list is easy to change thanks to superb modularity
    - Iteratively deploy simple and beautiful features


    ***

    ## Roles

    ### Content Group

    - research user needs
    - edit web content
    - discover relevant school resources
    - communicate with other groups or organizations

    Good to Know: HTML5, Markdown, Angular, communication skills

    ### Design Group

    - QA existing design and fix them
    - design UI/UX for new features
    - graphics design

    Good to know: CSS3, Material Design, Adobe, Angular, UI/UX, topography

    ### Logic Group

    - implement application logic
    - configure backend when needed
    - improve accuracy and efficiency through changes in architecture

    Good to know: Javascript, Angular, Node.js, MongoDB, Firebase, Google Cloud
    ***

    ## Concept

    ### Domain as Brand

    Instead of domains regulated by bureaucrats such as .ca or .edu, **toronto.university**&trade; can run independently
    true to its name.

    ### Web as App

    Instead of applications in walled gardens such as the App Store or the Google Play Store, we utilize the latest
    technologies to build a web app free of installation. This saves data, processing power, and battery life. From IE
    10 to iPhone X, all you need is Internet!

    ### Design as Feature

    Instead of reworking UI at the cost of speed and functionality, we focus on designs that make common actions more
    intuitive and elegant.

    ***

    ## Action time

    You can start by starring the project on Github and
    send an email with personal info to
    <address>
      <mat-icon>contact_mail</mat-icon>
      <a href="mailto:me@toronto.university">me@toronto.university</a>
    </address>

    <mat-icon color="accent">favorite</mat-icon>

  </markdown>
</mat-card>

