<mat-card class="hint">
  <markdown>
    # User Guide

    ***
    ## Supported System

    Using cutting-edge technology, **toronto.university**&trade; can be used directly from a web browser and
    installed as a mobile App across platforms.

    - To use from a web browser, simply open "**toronto.university**" in any browser.
    - To use as a mobile App (recommended for faster access), "Add to home screen" directly within the mobile browser

    Note: You do not need to go to your mobile App store. Watch the 30-second video below if you need help:
    * [Android](https://www.youtube.com/watch?v=vNC0zYarzF0)
    * [iOS](https://www.youtube.com/watch?v=iGoujh_N4B8)

    ***
    ## Supported Campus

    - UTSG
    - UTM
    - UTSC

    We are interested in supporting the entire higher education community in Toronto.


    ***
    ## Supported Search
    Type search keywords in the search box on the top right corner.

    ***
    ### course code (e.g. "mat137")
    show course info and real time wait-list

    ***
    ### building code (e.g. "ss")
    show link to google map and unbooked rooms
    ***
    ### food search (e.g. "sushi")
    show venues that cater the specified food
  </markdown>
</mat-card>
