<mat-card class="hint">
  <markdown>
    # Current features

    ## Supported System

    This App works across platforms. Simply open "toronto.university" in any browser.

    We recommend installing to your phone for faster access:
    - [Android](https://www.youtube.com/watch?v=vNC0zYarzF0)
    - [iOS ](https://www.youtube.com/watch?v=iGoujh_N4B8)

    ## Supported Campus

    - UTSG
    - UTM
    - UTSC

    We are interested in supporting all higher education institutions.


    ## Supported Search
    Type search keywords in the search box on the top right corner.

    ### course code (e.g. "mat137")
    show course info and real time wait-list
    ### building code (e.g. "ss")
    show link to google map and unbooked rooms
    ### food search (e.g. "sushi")
    show venues that cater the specified food
  </markdown>
</mat-card>
