<mat-card class="hint">
  <!--<img src="https://imgs.xkcd.com/comics/university_website.png"/>-->
  <markdown>
    # Current features

    ## Supported System

    Simply enter "toronto.university" to browser address bar and this app works across platforms.

    We recommend installing to your phone for faster access:
    - [Android](https://www.youtube.com/watch?v=vNC0zYarzF0)
    - [iOS ](https://www.youtube.com/watch?v=iGoujh_N4B8)

    ## Supported Campus

    - UTSG
    - UTM
    - UTSC

    We are interested in supporting all higher education institutions.


    ## Supported Search
    Type search keywords in the search box on the top right corner.

    ### course code (e.g. "mat137")
    show course info and real time wait-list
    ### building code (e.g. "ss")
    show link to google map and unbooked rooms
    ### food search (e.g. "sushi")
    show venues that cater the specified food
  </markdown>
</mat-card>
