<md-sidenav [opened]="sidebarService.isOpen">
  <md-nav-list align="vertical">
    <md-list-item>
      <a md-line [routerLink]="['']" routerLinkActive="inactive">
        <button md-button="">
          <md-icon>home</md-icon>
          <span md-line="">Home</span>
        </button>
      </a>
    </md-list-item>
    <md-list-item>
      <a md-line [routerLink]="['contact']" routerLinkActive="active">
        <button md-button="">
          <md-icon>contacts</md-icon>
          <span md-line="">Contact</span>
        </button>
      </a>
    </md-list-item>
  </md-nav-list>
</md-sidenav>


