<md-card>
  <markdown>
    # About

    **Toronto.University** is a platform for higher education in Toronto.

    ## Vision

    Toronto's universities are falling short of expectations with outdated websites, poorly organized resources, and
    misinformation.

    This is where we come in! Our mission is to build a mobile-friendly, simple, and independent platform for everyone.


  </markdown>
  <a routerLink="/join">
    <button md-raised-button="" md-button="" color="accent">
      Join Us
    </button>
  </a>
</md-card>
