<md-card>
  <markdown>
    # About

    **Toronto.University** is a platform for higher education in Toronto.

    ## Vision

    Toronto's universities are falling short of expectations with outdated websites, poorly organized resources, and
    misinformation.

    <!--<img src="https://imgs.xkcd.com/comics/university_website.png"/>-->

    This is where we come in! Our mission is to build a mobile-friendly, simple, and independent platform for everyone.

    <!--## Current features-->

    <!--&lt;!&ndash;### Supported Campus&ndash;&gt;-->

    <!--&lt;!&ndash; - UTSG&ndash;&gt;-->
    <!--&lt;!&ndash; - UTM&ndash;&gt;-->
    <!--&lt;!&ndash; - UTSC&ndash;&gt;-->

    <!--&lt;!&ndash;### Supported Search&ndash;&gt;-->

    <!-- - course code-->
    <!-- - building code-->
  </markdown>
  <a routerLink="/join">
    <button md-raised-button="" md-button="" color="accent">
      Join Us
    </button>
  </a>
</md-card>
