<mat-card>
  <markdown>
    # About

    **toronto.university**&trade; is a platform for higher education in Toronto.

    It is not a conventional tool, forum, or website. It is mobile-friendly, simple, and independent. It is an answer to
    continued politicization and commercialization of higher education.

    Not too long ago, universities were only for the elites. The institutions have opened up and evolved into the
    behemoths we see today. The higher education community needs a new way to better reflect and fulfill their needs.

    Universities in Toronto are falling short of expectation with outdated websites, poorly organized resources, and
    misinformation. It is unrealistic to expect the schools to address all the needs when they are run like businesses
    and worrying about political implications.

    As an open source and independent platform, toronto.university can
    - embrace the latest technology while official channels are reluctant to upgrade
    - put information about courses, map, and crimes front and center while official channels are busy with promotions
    and press coverages
    - approach matters with votes and statistics while official channels are muffled by controversy and sensitivity

    <img src="/assets/university_website.png"/>

    Together we can build a platform for everyone.
  </markdown>
  <a routerLink="/join">
    <button mat-raised-button="" color="accent">
      Join Us
    </button>
  </a>
</mat-card>
