<md-toolbar color="primary">
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <span>Toronto.University</span>

  <md-menu #menu="mdMenu">
    <button md-menu-item>
      <md-icon>dialpad</md-icon>
      <span>Menu 1</span>
    </button>
    <button md-menu-item disabled>
      <md-icon>voicemail</md-icon>
      <span>Menu 2</span>
    </button>
    <button md-menu-item>
      <md-icon>notifications_off</md-icon>
      <span>Menu 3</span>
    </button>
  </md-menu>
</md-toolbar>
