<!--<md-card class="mat-typography">-->
<!--<md-card-header>-->
<!--<md-card-title><h1>$4000 Tuition Refund</h1></md-card-title>-->
<!--</md-card-header>-->
<!--<md-card-content>-->
<!--<p class="mat-body-1">-->
<!--<p class="mat-body-2">Increase Tuition? YE$. Credit card fee? YE$.</p>-->
<!--<p>-->
<!--Some universities charge-->
<!--<a href="http://help.acorn.utoronto.ca/faq/pay-tuition-and-fees-by-credit-card/">1.75%</a>-->
<!--of fees paid by credit cards.-->
<!--This greatly reduces the advantage of paying with credit cards.-->
<!--</p>-->
<!--<p class="mat-body-2">$4000 "Refund"</p>-->
<!--<p>-->
<!--Fortunately, a company called Paytm Canada is waiving this "convenience fee".-->
<!--The app is pretty cool. You can pay many billers, including utility companies and property taxes completely free.-->
<!--If you are a 1st-year international student facing $50000*4 tuition and have a credit card with 2% return, you are-->
<!--smiling at $4000!-->
<!--</p>-->
<!--<p class="mat-body-2"> Hurry!</p>-->
<!--<p>-->
<!--Paytm is a Paypal-like company with Indian and Chinese investments.-->
<!--Its fee waiver may not last once they get a-->
<!--significant share of the Canadian market.-->
<!--</p>-->
<!--<p>-->
<!--Get extra $10 with my referral code:-->
<!--PTM7314930-->
<!--<p>-->
<!--Download the app at <a href="https://www.paytm.ca/">https://www.paytm.ca/</a>-->
<!--</p>-->
<!--</md-card-content>-->
<!--<md-card-actions>-->
<!--<button md-button>-->
<!--<md-icon>star</md-icon>-->
<!--<md-icon>credit_card</md-icon>-->
<!--<md-icon>lock</md-icon>-->
<!--</button>-->
<!--</md-card-actions>-->
<!--</md-card>-->
<md-card class="mat-typography">
  <md-card-title><h1>Placeholder</h1></md-card-title>
  <md-card-actions>
    <button md-button>
      <md-icon>star</md-icon>
      <md-icon>credit_card</md-icon>
      <md-icon>lock</md-icon>
    </button>
  </md-card-actions>
</md-card>

<!--<md-card class="mat-typography">-->
<!--<md-card-header>-->
<!--<md-card-title><h1>Best Bank</h1></md-card-title>-->
<!--</md-card-header>-->
<!--<md-card-content>-->
<!--<section class="mat-body-1">-->
<!--Tangerine is the best bank in Toronto. It was the former ING bank, which was acquired by Scotiabank.-->

<!--Advantages:-->
<!--1. no fee accounts-->
<!--2. high interest (currently at 1.95%)-->
<!--3. free cheques-->
<!--4. free stop payments-->
<!--5. free balance protection-->
<!--6. free money transfer-->
<!--7. best app-->

<!--You can get extra $25 with the referral code:-->
<!--42483673S1-->
<!--</section>-->
<!--</md-card-content>-->
<!--<md-card-actions>-->
<!--<button md-button>-->
<!--<md-icon>star</md-icon>-->
<!--</button>-->
<!--</md-card-actions>-->
<!--</md-card>-->
