<md-card class="mat-typography">
  <md-card-header>
    <md-card-title><h1>Get $1000 Tuition "refund"</h1></md-card-title>
  </md-card-header>
  <md-card-content>
    <p class="mat-body-1">
      Universities usually charge more than 1.75% of the tuition amount if you choose to pay with credit card. This
      greatly reduces the advantage of a credit card.

      Fortunately, a new Canadian company called Paytm is waiving this fee, for a limited time. If you pay $50000
      tuition and a credit card with 2% return, that's $1000 for free!

      You can get extra $10 with the referral code:
      PTM7314930</p>
  </md-card-content>
  <md-card-actions>
    <button md-button>
      <md-icon>star</md-icon>
    </button>
  </md-card-actions>
</md-card>

<md-card class="mat-typography">
  <md-card-header>
    <md-card-title><h1>Best Bank</h1></md-card-title>
  </md-card-header>
  <md-card-content>
    <section class="mat-body-1">
      Tangerine is the best bank in Toronto. It was the former ING bank, which was acquired by Scotiabank.

      Advantages:
      1. no fee accounts
      2. high interest (currently at 1.95%)
      3. free cheques
      4. free stop payments
      5. free balance protection
      6. free money transfer
      7. best app

      You can get extra $25 with the referral code:
      42483673S1
    </section>
  </md-card-content>
  <md-card-actions>
    <button md-button>
      <md-icon>star</md-icon>
    </button>
  </md-card-actions>
</md-card>
