md-form-field {
  width: auto; // default is 200px

  md-placeholder {
    margin-left: 10px;
  }

  input {
    color: gray;
    border: none;
    border-radius: 100px;
    background-color: white;
    padding: 5px 16px;

    &:focus {
      outline: none;
    }

  }
}
