<!--put toolbar and sidenav together for easier toggle and built-in backdrop-->
<mat-toolbar color="primary">
  <span fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Toronto.University</span>
    <app-search-box></app-search-box>
  </span>
</mat-toolbar>


<mat-sidenav-container>
  <app-search-result></app-search-result>

  <mat-sidenav #sidenav>
    <mat-nav-list fxLayout="column">

      <mat-list-item (click)="sidenav.toggle()" [routerLink]="['']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
        <button mat-button="">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
      </mat-list-item>

      <mat-list-item [routerLink]="['referral']" routerLinkActive="active" (click)="sidenav.toggle()">
        <button mat-button="">
          <mat-icon>person_add</mat-icon>
          <span>Referral</span>
        </button>
      </mat-list-item>

      <mat-list-item (click)="sidenav.toggle()" [routerLink]="['contact']" routerLinkActive="active">
        <button mat-button="">
          <mat-icon>email</mat-icon>
          <span>Contact</span>
        </button>
      </mat-list-item>

      <mat-list-item (click)="sidenav.toggle()" [routerLink]="['about']" routerLinkActive="active">
        <button mat-button="">
          <mat-icon>help_outline</mat-icon>
          <span>About</span>
        </button>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <app-content></app-content>

</mat-sidenav-container>
