/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import './theme';

html, body {
  margin: 0;
  height: 100%;
  app-root {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}



