/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body, app-root {
  margin: 0;
  height: 100%;
}

//md-sidenav-container {
//  display：flex:
//}

.container{
  display: flex;
}

