<mat-card>
  <markdown>
    # Course Notes

    This is an experiment where everyone collaborates and collectively take notes for university classes.
    In other words, everyone becomes a "note taking volunteer" and learn from it.

    Each course has a unique google doc. If your course is not in the list, you can create a new google doc and paste
    the link in the Notes Glossary.

    Please use all these notes with the best intention.
    You can report abuse to <a href="mailto:me@toronto.university">me@toronto.university</a>

    <a href="https://goo.gl/cwmyP2">
      <button mat-raised-button="" color="accent">
        Open Notes Glossary
      </button>
    </a>
  </markdown>
</mat-card>
