<mat-card>
  <markdown ngPreserveWhitespaces>
    # Best Bank Tangerine is the best bank in Toronto. It was the former ING bank, which was acquired by Scotiabank. Advantages:
    1. no fee accounts 2. high interest (currently at 1.95%) 3. free cheques 4. free stop payments 5. free balance protection
    6. free money transfer 7. best app You can get extra $25 with the referral code: 42483673S1
    <button mat-button>
      <mat-icon>star</mat-icon>
    </button>

    # $4000 Tuition Refund Increase Tuition? YE$. Credit card fee? YE$. Some universities charge
    <a href="http://help.acorn.utoronto.ca/faq/pay-tuition-and-fees-by-credit-card/">1.75%</a>
    of fees paid by credit cards. This greatly reduces the advantage of paying with credit cards.
    <p class="mat-body-2">$4000 "Refund"</p>
    Fortunately, a company called Paytm Canada is waiving this "convenience fee". The app is pretty cool. You can pay many billers,
    including utility companies and property taxes completely free. If you are a 1st-year international student facing $50000*4
    tuition and have a credit card with 2% return, you are smiling at $4000!
    <p class="mat-body-2"> Hurry!</p>
    Paytm is a Paypal-like company with Indian and Chinese investments. Its fee waiver may not last once they get a significant
    share of the Canadian market. Get extra $10 with my referral code: PTM7314930 Download the app at
    <a href="https://www.paytm.ca/">https://www.paytm.ca/</a>
  </markdown>
</mat-card>